
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" ng-app="produtosModulo">
	<head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	  <title>Carrinho - teste SOVIS | E-COMMERCE JAVA</title>
	  <meta name="description" content="">
	  <meta name="author" content="">  

	  <script src="js/angular.min.js"> </script>
	  <script src="js/ngStorage.min.js"> </script>
	  <script src="controller/produtosController.js"> </script>
	  <script src="controller/cartController.js"> </script>
	  <script src="js/jquery.min.js"> </script>
	  <link href="css/style.css" rel="stylesheet">
	</head>
	<!-- ############ corpo ############ -->
	<body ng-controller="produtosController">
		<!-- ############ header ############ -->
		<header>
			<nav ng-include src="'template/menu.html'"></nav>	
				<div class="slideTop">
					<div class="container single-page">	
						<h1>Carrinho</h1>
						<p></p>
						
					</div>
				</div>
			</div>
			

		</header>
		<!-- ############ content ############ -->
		<main>
			<div class="container">				
				
				<section class="row">

					<div class="col col-sm-1" >
						<table class="tabela">
				            <thead>
				              <tr>
				                <th></th>
				                <th></th>
				                <th>Produto</th>
				                <th>Preco</th>
				                <th>quantidade</th>
				                <th>total</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr ng-repeat="produtoCart in produtosCart">
				                <td><a href="" ng-click="removerProduto()" class="link-delete">X</a></td>
				                <td><img src="{{produtoCart.foto}}"></td>
				                <td>{{produtoCart.descricao}}</td>
				                <td><span>R$ {{produtoCart.preco}}</span></td>
				                <td><span>{{produtoCart.quantidade}}</span></td>				                
				                <td>R$ {{totalProduto(produtoCart)}}</td>
				              </tr>
				             
				            </tbody>
				          </table>	

				          <div class="col-sm-2 right box" >
				          	<H3>FINALIZAR COMPRA</H3>
								<table class="tabela">
						            <thead>
						              <tr>
						                				                			                
						              </tr>
						            </thead>
						            <tbody>
						              <tr>
						                <td><h4>Entrega</h4></td>
						                <td><h6>exemplo correios</h6></td>				                
						              </tr>
						               <tr>
						                <td><h4>Total</h4></td>
						                <td><h6>R$ {{subtotal()}}</h6></td>				                
						              </tr>
						              
						            </tbody>
				          		</table>					
								
								<div class="bottom-botoes">
									<a href="finalizar-compra.html"><button class="btn btnSuccess">Finalizar compra</button></a>
								</div>
						  </div>				
						
					</div>

									

					

					
				</section>

				
			</div>
		</main>
		<!-- ############ footer ############ -->
		<footer>
			<div class="container content-dark">				
				<p>2017 - Felipe gama</p>
			</div>
			
		</footer>
		

	</body>
</html>